@import 'variables';
@import 'animations';
*{
    font-family: 'Segoe UI', 'myanSagar';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
}
.container{
    width: 711px;
    margin-top: 170px;
    padding-bottom: 200px;
    .top-Section{
        width: 100%;
        padding: 0 5px;
        .row{
            .brand{
                @include m-flex-auto;
                justify-content: flex-start;
                .mlogo{
                    width: 71px;
                    height: 71px;
                }
                .mlogo-txt{
                    margin: 0 0 0 10px;
                    font-size: 43px;
                    color: $m-secondary-color;
                    font-weight: bold;
                }
            }
            .output{
                display: flex;
                justify-content: flex-end;
                .output-result{
                    font-size: 71px;
                    color: $m-secondary-color;
                    margin: 0;
                }
            }
        }
    }
    .line{
        width: 100%;
        border: 2px solid $m-secondary-color;
    }
    .data-ctrl{
        width: 100%;
        .data-action{
            width: 145px;
            label{
                font-size: 28px;
                color: $m-secondary-color;
            }
            input{
                padding: 5px; 
                text-align: right;
            }
            ::placeholder{
                color: rgba($m-secondary-color,0.5);
            }
            .input-section{
                width: 100%;
                height: 35px;
                border-radius: 6px;

                border: 2px solid $m-secondary-color;
                transition: 0.5s;
                color: $m-secondary-color;
                font-size: 18px;
                &:focus{
                    border: 2px solid $m-primary-color;
                    outline: 1px rgba($m-primary-color,0.3);
                }
                
            }
            select{
                cursor: pointer;
            }
            #calBtn{
                width: 132px;
                height: 70px;
                color: $m-secondary-color;
                font-size: 20px;
                border-radius: 6px;
                border: 1px solid $m-secondary-color;
                outline: none;
                &:active{
                    color: $m-primary-color;
                }
                &:focus{
                    border: 2px solid $m-primary-color;
                    outline: 1px rgba($m-primary-color,0.3);
                }
            }
        }
    }
    .data-history{
        .history-table{
            border-spacing: 2px;
            border-collapse: separate;
            border:none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            thead{
                tr{
                   font-size: 20px; 
                   background-color: $m-primary-color;
                   color: $m-light-color;
                   border: none;
                    th{
                        border-radius: 5px;

                    }
                    th:last-child{
                        text-align: right;
                    }
                }
            }
            .history-list{
                tr{
                    th{

                    }
                    td{
                        border: none;
                    }
                    td:last-child{
                        text-align: right;
                    }
                }
            }
        }
    }
    .record-ctrl{
        @include m-flex-auto;
        justify-content: flex-end;
        #deleteBtn{
            display: none;
        }
    }
}
#deleteBtn{
    color: $m-secondary-color;
    width: 130px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid $m-secondary-color;
    transition: 0.3s;
    &:hover{
        border: 2px solid;
        border-color: $m-primary-color;
    }
    &:focus{
        color: $m-primary-color;
        border-color: $m-primary-color;
    }
}
.switch{
    @include m-flex-auto;
    width: 50px;
    height: 50px;
    color: $m-secondary-color;
    border-radius: 50%;
    background-color: whitesmoke;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        background-color: $m-secondary-color;
        color: whitesmoke;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
// Scroll Bar
::-webkit-scrollbar {
    width: 5px;  
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f110; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background:#2cd1ee;
    border-radius: 10px; 
    
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:cyan; 
}

@import 'responsive';
@import 'night';